.card{
    width: 400px;
    height: 400px;
    border: 3px dotted aquamarine;
    color: black;
    background-color: burlywood;
    text-align: center;
    border-radius: 5px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 3px;
}
#car{
    background-color: blue;
}
.task{
    display: flex;
}