.box{
    /* border: 20px inset black; */
    border-radius: 20px;
    background: repeating-radial-gradient(closest-side, darkred,lightpink 22px ,rgb(216, 149, 190) 90px);
    /* margin: 5px 100px 5px 100px; */
    font-weight: 900;
    color: black;
}