.we{
    width: 100px;
    height: 100px;
    border: 2px solid pink;
    background-color: aqua;
    animation-name: jyo;
    animation-duration: 3s;
    /* animation-delay: 4s; */
    animation-timing-function:ease-in ;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
@keyframes jyo{
     20%{
        transform: skewX(100deg);
        background-color: blue;

    }
    40%{
        transform: skewX(100deg);
        background-color: red;
    }
     60%{
        transform: skewX(100deg);
        background-color: red;
    }
    75%{
        transform: skewY(500deg);
        background-color: blueviolet;
    }
}