/* * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
} */
 body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, rgba(236, 0, 172), rgba(151, 0, 221));
    color: white;
}
h1{
    padding-right: 550px;
}
a{
    margin: 10px;
    color: rgb(216, 210, 210);
    text-decoration: none;
}
a:hover{
    color:rgb(215, 37, 138);
}
nav{
    background: linear-gradient(to right,rgba(108, 0, 243),rgba(211, 0, 145));
    
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;        
  height: 400px;            
  background-image: url(https://i.pinimg.com/1200x/da/af/14/daaf14d8049195501a66df5399bd316d.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  animation-name: ban;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes ban {
      from {
        background-position: top;
    }
    to {
        background-position: bottom;
    }
  
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(63, 0, 107, 0.6); 
  z-index: 1;
}
.banner h1,
.banner p,
.banner button {
  position: relative;
  z-index: 2;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 0 !important;
  white-space: normal !important;   
  text-align: center !important;
  width: auto;
}

.banner h1 {
  padding: 00px;
  white-space: nowrap;
}
.bgcolor{
    background-color:rgba(63, 0, 107);
    margin-top: 0;
    padding-top:10px;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.card1:hover{
    transform: scale(1.1);
    box-shadow: 20px 30px 40px pink;

}

.card2:hover{
    transform: scale(1.1);
    box-shadow: 20px 30px 40px pink;

}
.card3:hover{
    transform: scale(1.1);
    box-shadow: 20px 30px 40px pink;

}
.card4:hover{
    transform: scale(1.1);
    box-shadow: 20px 30px 40px pink;

}
.buttons{
   margin-left: 50px;
   
}
.b1:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px rgb(255, 208, 0);
}
.b2:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px rgb(255, 208, 0);
}
.b3:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px rgb(255, 208, 0);
}
.b4:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px rgb(255, 208, 0);
}

@media (max-width: 768px) {
  .banner {
    height: 250px;            
    background-position: center;
  }

  nav h1 {
    padding-right: 0;  
    text-align: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .container div {
    width: 90%;
    margin-bottom: 20px;
  }
}
